#clotureAccueil,#ValidFicheAccueil,#rembousementAccueil
{
    background-color: #cacbcf;
    width: 70%;
    height: 155px;
    margin-top: 10px;
    padding-top: 10px;
    opacity: 0.75;
    border-radius: 15px;
    margin-left: 13%;
    
}
#btnAccueil{
    margin-top: 80px;
    margin-left: -10px;
    height: 38px;
    padding-top: 8px;
}

#img02
{
    width: 80%;
    border-radius: 75px;
    margin-top: 5px;
}

#img03
{
    width: 30%;
    border-radius: 75px;
    margin-top: 5px;
}


#tAccueil{
    
    margin-top: 45px;
    margin-left:85px;
    color:  rgb(245, 246, 247);
    font-size: 35px;
    border-bottom: 3px solid#f5f7f8;
    width: 92%; 
}

#tTitre{
    width: 80%;
    margin-left: 85px;
    color:  rgb(245, 246, 247);
    font-size: 40px;
        
}
#titreAccueil
{
   width: 80%;
   color: rgb(245, 246, 247);
    margin-left: initial;
     
}
