/*----------------------------------------------------
 .	Formulaire LoginUserSuiviRemboursement style
 .  Login Valid Frais Comptable style
------------------------------------------------------*/
 #contact_form_Cv{
        width : 310px;
        margin-top:15px;
 }
 #contact_form_v{
       width : 350px;
       margin-top:15px;
 }   
button{
   margin-left: 10px; 
} 

.well
{
    background-color: rgba(245,246,247,0.87);
}